/* ESTILOS GERAIS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
}

.container {
  width: 800px;
  height: 1122.5px;
  background-color: #f9f6ee;
  margin-left: auto;
  margin-right: auto;
}

aside {
  width: 25%;
  height: 100%;
  float: left;
  background-color: #f2a22c;
  background: url("../images/img1.png") no-repeat center;
  background-size: cover;
}

header {
  text-align: center;
  padding-top: 30px;
}

.container_menu {
  float: right;
  width: 600px;
  height: 100%;
  padding-top: 60px;
}

.container_menu h2 {
  text-align: center;
  color: #000;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 20px;
}

.container_menu h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 29px;
  background: url("/images/linha.svg") no-repeat center;
  margin: 0 auto;
}

.container_menu ul li {
  padding-left: 30px;
  list-style: none;
  float: left;
  padding-bottom: 40px;
}

.container_menu img {
  width: 15%;
  float: left;
  margin: 0 15px 0 5px;
  border-radius: 20%;
}

.container_menu .title_menu {
  padding-top: 20px;
  color: #f2a22c;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
}

.container_menu ul li p {
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}

.container_menu ul li span {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  line-height: 24px;
  display: block;
  float: right;
  padding: 22px 40px 0 0;
}
